<!DOCTYPE html>
<html>

<head>
  <title>Nicepay</title>
  <meta httpEquiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <script src="https://pay.nicepay.co.kr/v1/js/"></script>
  <script>
    window.onload = (event) => {
     AUTHNICE.requestPay({
        clientId: '{{clientId}}',
        method: 'card',
        orderId: '{{orderId}}',
        amount: '{{amount}}',
        goodsName: '{{goodsName}}',
        returnUrl: '{{returnUrl}}',
        fnError: function (result) {
            alert('개발자확인용111 : ' + result.errorMsg + '')
        }
      });
    }
  </script>
</body>

</html>